<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for HTML email (simple)</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Hi there!</p>
	<p>
		You just received an email from <span th:text="${senderEmail}">Nobody</span>
		having the following subject and message:
	</p>
	<p>Subject:</p>
	<p th:text="${subject}">No subject</p>
	<p>Message:</p>
	<p th:text="${messageBody}">No message</p>
	<p>Thank you!</p>
</body>
</html>
