<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<nav th:replace="fragments/header :: header"></nav>

	<div class="container">

		<div class="starter-template">
			<h1>Create CMS Resource</h1>
			<form action="#" th:action="@{/createResource}" th:object="${resource}"
				method="post">
				<div class="form-group">
					<label for="resourceMediaType">Media type</label>
					<input readonly="readonly"
						type="text" class="form-control" id="resourceMediaType"
						th:field="*{resourceMediaType}" />
					<div class="form-group has-error"
						th:if="${#fields.hasErrors('resourceMediaType')}">
						<span class="help-block" th:errors="*{resourceMediaType}"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="resourceAuthor">Author</label> <input type="text"
						class="form-control" id="resourceAuthor"
						th:field="*{resourceAuthor}" />
					<div class="form-group has-error"
						th:if="${#fields.hasErrors('resourceAuthor')}">
						<span class="help-block" th:errors="*{resourceAuthor}"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="resourceName">Name</label> <input type="text"
						class="form-control" id="resourceName" th:field="*{resourceName}" />
					<div class="form-group has-error"
						th:if="${#fields.hasErrors('resourceName')}">
						<span class="help-block" th:errors="*{resourceName}"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="resourceExternalURI">External URI</label> <input type="text"
						class="form-control" id="resourceExternalURI" th:field="*{resourceExternalURI}" />
					<div class="form-group has-error"
						th:if="${#fields.hasErrors('resourceExternalURI')}">
						<span class="help-block" th:errors="*{resourceExternalURI}"></span>
					</div>
				</div>
				<input type="hidden" id="resourceTenantId" th:field="*{resourceTenantId}"/>
				<button type="submit" class="btn btn-default">Save</button>
			</form>
		</div>

	</div>

	<footer th:replace="fragments/footer :: footer"></footer>

	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</body>
</html>