<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav th:replace="fragments/header :: header"></nav>

	<div class="container">

		<div class="starter-template">
			<h1>Resource Revisions</h1>
		</div>

		<div class="starter-template" style="margin-top: 20px">
			<table id="revisions" class="table table-striped table-bordered"
				cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Title</th>
						<th>Created At</th>
						<th>Updated At</th>
						<th>Deleted At</th>
						<th>Author</th>
						<th>Resource URI</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="revision: ${revisions}">
						<td th:text="${revision.title}"></td>
						<td th:text="${revision.createdAt}"></td>
						<td th:text="${revision.updatedAt}"></td>
						<td th:text="${revision.deletedAt}"></td>
						<td th:text="${revision.resourceDTO.author}"></td>
						<td th:text="${revision.resourceDTO.resourceURI}"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<footer th:replace="fragments/footer :: footer"></footer>

	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

	<script type="text/javascript"
		src="https://cdn.datatables.net/v/bs/dt-1.10.13/datatables.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#revisions').DataTable();
		});
	</script>
</body>
</html>