<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

	<nav th:replace="fragments/header :: header"></nav>

	<div class="container">

		<div class="starter-template">
			<h1>Sastix Sample CMS Front-end application</h1>
			<h2>Choose your poison...</h2>
		</div>

	</div>

	<footer th:replace="fragments/footer :: footer"></footer>

	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</body>
</html>