<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sastix Sample CMS Front-end application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<nav th:replace="fragments/header :: header"></nav>

	<div class="container">

		<div class="starter-template">
			<h1>Sastix Sample CMS Front-end application</h1>
			<h2>Choose your poison...</h2>
		</div>

	</div>
	
	<footer th:replace="fragments/footer :: footer"></footer>
	
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</body>
</html>